.dart_tool
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/local.properties
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
