# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Firebase
**/firebase_options.dart
**/google-services.json
**/GoogleService-Info.plist
**/firebase-credentials.json
**/service-account-setup.md

# Backend credentials
**/config/firebase_config.php
**/config/mealdeal-10385-firebase-adminsdk-fbsvc-0331659b2c.json

# PHP Auth credentials
**/php_auth/firebase-credentials.json

# Test files
**/verify_simple.php
**/verify_user.php